@charset "UTF-8";
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  -webkit-user-select: none;
  user-select: none;
  background: #f5f5f5;
  font-family: "Source Han Sans","Microsoft YaHei", "微软雅黑", "PingFang SC", Arial;
  margin: 0 auto;
  max-width: 750px;
  font-size: 14px;
  color: #333;
}

* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  touch-callout: none;
}

i, em {
  font-style: normal;
}

ol, ul {
  list-style: none;
}

a {
  color: #434343;
  text-decoration: none;
}

.m-header {
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
.m-header .m-header-box {
  position: relative;
  padding: 10px 20px 0 120px;
  z-index: 9;
}
.m-header .m-header-box .m-logo {
  width: 90px;
  height: 40px;
  position: absolute;
  left: 10px;
  background: url(../images/m-logo.png) no-repeat;
  background-size: contain;
}
.m-header .m-header-box .m-search {
  background: #eaeaea;
  height: 36px;
  border-radius: 20px;
  background-clip: padding-box;
  position: relative;
}
.m-header .m-header-box .m-search .search_area {
  width: 100%;
  height: 36px;
  background: no-repeat;
  border: 0;
  padding: 0 60px 0 15px;
  box-sizing: border-box;
  font-size: 14px;
  -webkit-user-select: auto;
}
.m-header .m-header-box .m-search .search_button {
  width: 46px;
  height: 36px;
  border-radius: 0 20px 20px 0;
  background: url(../images/m-search2.png) no-repeat center #d4237a;
  background-size: 50%;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.m-header .m-nav {
  margin-top: 10px;
  border-top: #f5f5f5 1px solid;
  position: relative;
  padding-right: 50px;
}
.m-header .m-nav ul {
  overflow: hidden;
  height: 48px;
}
.m-header .m-nav ul li {
  float: left;
  font-size: 16px;
  margin: 0 10px;
}
.m-header .m-nav ul li a {
  display: block;
  padding: 12px 2px;
}
.m-header .m-nav ul li.cur a {
  color: #d4237a;
  border-bottom: #d4237a 2px solid;
}
.m-header .m-nav .m-more-nav {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  right: 10px;
  background: url(../images/m-all.png) no-repeat center;
  background-size: 70%;
  z-index: 9;
}

.swiper-container {
  width: 100%;
  height: 240px;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 7;
}
.swiper-container .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
}
.swiper-container .swiper-slide img {
  height: 280px;
}
.swiper-container .swiper-pagination {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 10px;
  overflow: hidden;
  font-size: 0;
  position: absolute;
  text-align: center;
  -webkit-transition: .3s opacity;
  -o-transition: .3s opacity;
  transition: .3s opacity;
  z-index: 10;
}
.swiper-container .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #fff;
  margin: 0 4px;
  -webkit-transition: .2s left,.2s -webkit-transform;
  transition: .2s left,.2s -webkit-transform;
  -o-transition: .2s transform,.2s left;
  transition: .2s transform,.2s left;
  transition: .2s transform,.2s left,.2s -webkit-transform;
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33);
  position: relative;
}
.swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66);
}
.swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66);
}
.swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  background: #d4237a;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  border: #fff 1px solid;
}

.hot-spot {
  overflow: hidden;
  margin-top: 10px;
}
.hot-spot img {
  width: 100%;
  display: block;
}
.hot-spot .hot-spot-left {
  width: 37%;
  float: left;
}
.hot-spot .hot-spot-left .spot-syby {
  width: 100%;
}
.hot-spot .hot-spot-right {
  float: left;
  width: 63%;
  border-left: #f5f5f5 1px solid;
  margin-left: -1px;
}
.hot-spot .hot-spot-right ul {
  overflow: hidden;
  border-top: #f5f5f5 1px solid;
}
.hot-spot .hot-spot-right ul li {
  float: left;
  width: 50%;
  border-left: #f5f5f5 1px solid;
  margin-left: -1px;
}

.m-prolist .prolist-item {
  min-height: 100px;
  position: relative;
  background: #fff;
  margin-top: 10px;
  overflow: hidden;
}
.m-prolist .prolist-item .prolist-item-a {
  display: block;
  height: 100%;
}
.m-prolist .prolist-item .prolist-cover {
  float: left;
  width: 42%;
}
.m-prolist .prolist-item .prolist-cover img {
  display: block;
  width: 100%;
}
.m-prolist .prolist-item .prolist-info .prolist-title {
  width: 52%;
  position: absolute;
  top: 10px;
  right: 3%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
  word-break: break-all;
  color: #333;
  line-height: 24px;
}
.m-prolist .prolist-item .prolist-info .prolist-title .jdico {
  display: inline-block;
  width: 20px;
  height: 16px;
  text-align: center;
  border: #d4237a 1px solid;
  color: #d4237a;
  line-height: 16px;
  margin-right: 6px;
}
.m-prolist .prolist-item .prolist-info .prolist-bottom {
  position: absolute;
  width: 52%;
  bottom: 10px;
  right: 3%;
}
.m-prolist .prolist-item .prolist-info .prolist-bottom .prolist-grey {
  color: #939393;
  text-decoration: line-through;
}
.m-prolist .prolist-item .prolist-info .prolist-bottom .prolist-price {
  color: #d4237a;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-left: 36px;
  margin-top: 2px;
}
.m-prolist .prolist-item .prolist-info .prolist-bottom .prolist-price .int {
  font-size: 24px;
}
.m-prolist .prolist-item .prolist-info .prolist-bottom .prolist-price .priceicon {
  width: 34px;
  height: 24px;
  display: inline-block;
  background: url(../images/m-qhico.png) no-repeat center;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 5px;
}
.m-prolist .prolist-item .prolist-info .prolist-bottom .prolist-coupon {
  width: 66px;
  height: 24px;
  color: #fff;
  text-align: center;
  line-height: 24px;
  background: url(../images/yhjbg.png) no-repeat center;
  background-size: contain;
  position: absolute;
  right: 0;
  bottom: 5px;
}

.m-searchlist-main {
  padding-top: 110px;
}

.m-searchlist {
  position: relative;
}
.m-searchlist .searchlist-item {
  min-height: 100px;
  position: absolute;
  background: #fff;
  overflow: hidden;
  width: 49%;
}
.m-searchlist .searchlist-item .searchlist-item-a {
  display: block;
  height: 100%;
}
.m-searchlist .searchlist-item .searchlist-cover {
  width: 100%;
}
.m-searchlist .searchlist-item .searchlist-cover img {
  display: block;
  width: 100%;
}
.m-searchlist .searchlist-item .searchlist-info .searchlist-title {
  width: 90%;
  margin: 10px auto 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 20px;
  word-break: break-all;
  color: #333;
  line-height: 20px;
}
.m-searchlist .searchlist-item .searchlist-info .searchlist-title .jdico {
  display: inline-block;
  width: 20px;
  height: 16px;
  text-align: center;
  border: #d4237a 1px solid;
  color: #d4237a;
  line-height: 16px;
  margin-right: 6px;
}
.m-searchlist .searchlist-item .searchlist-info .searchlist-bottom {
  width: 90%;
  position: relative;
  margin: 15px auto 0;
}
.m-searchlist .searchlist-item .searchlist-info .searchlist-bottom .searchlist-grey {
  color: #939393;
  text-decoration: line-through;
}
.m-searchlist .searchlist-item .searchlist-info .searchlist-bottom .searchlist-price {
  color: #d4237a;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-left: 36px;
  height: 40px;
}
.m-searchlist .searchlist-item .searchlist-info .searchlist-bottom .searchlist-price .int {
  font-size: 24px;
}
.m-searchlist .searchlist-item .searchlist-info .searchlist-bottom .searchlist-price .priceicon {
  width: 34px;
  height: 24px;
  display: inline-block;
  background: url(../images/m-qhico.png) no-repeat center;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 5px;
}
.m-searchlist .searchlist-item .searchlist-info .searchlist-bottom .searchlist-coupon {
  width: 66px;
  height: 24px;
  color: #fff;
  text-align: center;
  line-height: 24px;
  background: url(../images/yhjbg.png) no-repeat center;
  background-size: contain;
  position: absolute;
  right: 0;
  bottom: 10px;
}

.page-pages {
  padding: 15px 0;
  clear: both;
  font-size: 75%;
  text-align: center;
}
.page-pages li {
  padding: 7px 7px;
  background: #fff;
  text-align: center;
  margin: 0 6px 6px 0;
  display: inline;
}
.page-pages li.thisclass {
  background: #f5f5f5;
  color: #d4237a;
  font-weight: 700;
}

/**分类**/
.mobile-inner-nav {
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 3;
  padding-top: 58px;
  box-sizing: border-box;
  display: none;
}
.mobile-inner-nav .sort-title {
  border-top: #f5f5f5 1px solid;
  border-bottom: #f5f5f5 1px solid;
  padding: 12px 15px;
  font-size: 16px;
}
.mobile-inner-nav a {
  color: #333;
}
.mobile-inner-nav ul {
  padding: 10px;
  overflow: hidden;
}
.mobile-inner-nav ul li {
  float: left;
  width: 25%;
  text-align: center;
  margin-bottom: 6px;
}
.mobile-inner-nav ul li a {
  display: block;
  width: 78px;
  margin: auto;
  padding: 74px 0 10px;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 90%;
}
.mobile-inner-nav ul li.sort01 a {
  background-image: url(../images/sort/sort01.jpg);
}
.mobile-inner-nav ul li.sort02 a {
  background-image: url(../images/sort/sort02.jpg);
}
.mobile-inner-nav ul li.sort03 a {
  background-image: url(../images/sort/sort03.jpg);
}
.mobile-inner-nav ul li.sort04 a {
  background-image: url(../images/sort/sort04.jpg);
}
.mobile-inner-nav ul li.sort05 a {
  background-image: url(../images/sort/sort05.jpg);
}
.mobile-inner-nav ul li.sort06 a {
  background-image: url(../images/sort/sort06.jpg);
}
.mobile-inner-nav ul li.sort07 a {
  background-image: url(../images/sort/sort07.jpg);
}
.mobile-inner-nav ul li.sort08 a {
  background-image: url(../images/sort/sort08.jpg);
}
.mobile-inner-nav ul li.sort09 a {
  background-image: url(../images/sort/sort09.jpg);
}
.mobile-inner-nav ul li.sort10 a {
  background-image: url(../images/sort/sort10.jpg);
}
.mobile-inner-nav ul li.sort11 a {
  background-image: url(../images/sort/sort11.jpg);
}
.mobile-inner-nav ul li.sort12 a {
  background-image: url(../images/sort/sort12.jpg);
}
.mobile-inner-nav ul li.sort13 a {
  background-image: url(../images/sort/sort13.jpg);
}
.mobile-inner-nav ul li.sort14 a {
  background-image: url(../images/sort/sort14.jpg);
}
.mobile-inner-nav ul li.sort15 a {
  background-image: url(../images/sort/sort15.jpg);
}

#m-top {
  height: 0;
  overflow: hidden;
}

.izl-rmenu {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 999;
  background: rgba(212, 35, 122, 0.5);
}
.izl-rmenu .btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
}
.izl-rmenu .btn.btn-top {
  background: url(../images/arrow-up.png) no-repeat center;
  background-size: 80%;
  display: none;
}

@media screen and (max-width: 340px) {
  .m-prolist .prolist-item .prolist-info .prolist-bottom .prolist-price {
    color: #d4237a;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-left: 32px;
    margin-top: 2px;
  }
  .m-prolist .prolist-item .prolist-info .prolist-bottom .prolist-price .int {
    font-size: 20px;
  }
  .m-prolist .prolist-item .prolist-info .prolist-bottom .prolist-price .priceicon {
    width: 32px;
    height: 22px;
    top: 3px;
  }
  .m-prolist .prolist-item .prolist-info .prolist-bottom .prolist-coupon {
    width: 63px;
    height: 24px;
    color: #fff;
    text-align: center;
    line-height: 24px;
    background: url(../images/yhjbg.png) no-repeat center;
    background-size: contain;
    position: absolute;
    right: 0;
    bottom: 3px;
  }

  .mobile-inner-nav {
    padding-top: 58px;
    box-sizing: border-box;
    display: none;
  }
  .mobile-inner-nav .sort-title {
    border-top: #f5f5f5 1px solid;
    border-bottom: #f5f5f5 1px solid;
    padding: 12px 15px;
    font-size: 16px;
  }
  .mobile-inner-nav a {
    color: #333;
  }
  .mobile-inner-nav ul {
    padding: 10px;
    overflow: hidden;
  }
  .mobile-inner-nav ul li {
    float: left;
    width: 25%;
    text-align: center;
    margin-bottom: 6px;
  }
  .mobile-inner-nav ul li a {
    display: block;
    width: 70px;
    margin: auto;
    padding: 60px 0 10px;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 80%;
  }
}

/*# sourceMappingURL=m.css.map */
